<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!--[if lte IE 8]>
    <script src="/static/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/css/main.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/ie8.css"/><![endif]-->
    <link rel="alternate" hreflang="en" href="index_en.html"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{ .Title }}</title>
    <meta name="description" content="{{ .Summary }}">

    <link rel="canonical" href="{{ .Permalink }}">
</head>
